<!-- you need to configure your Maven settings.xml file with the appropriate server credentials -->
<settings>
  <server>
    <id>anyid</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>

  <profiles>
    <profile>
      <id>sonalidomain-sonalirepo</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>sonalidomain-sonalirepo</id>
          <url>https://sonalidomain-369558868206.d.codeartifact.us-east-1.amazonaws.com/maven/sonalirepo/</url>
        </repository>
      </repositories>
    </profile>
  </profiles>
<!-- for downloading dependencies from AWS CodeArtifact,  add mirrors section -->
  <mirrors>
    <mirror>
      <id>anyid</id>
      <name>anyid</name>
      <url>https://sonalidomain-369558868206.d.codeartifact.us-east-1.amazonaws.com/maven/sonalirepo/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
</settings>

