<!-- you need to configure your Maven settings.xml file with the appropriate server credentials -->
<settings>
  <server>
    <id>anyid</id>
    <username>aws</username>
    <password></password>
  </server>
<settings>
<!-- for downloading dependencies from AWS CodeArtifact,  add mirrors section -->
<mirrors>
  <mirror>
    <id>anyid<id>
    <url></url>
    <mirrorOf>*<mirrorOf>
    <name></name>
  </mirror>
</mirrors>

